@import url("https://fonts.googleapis.com/css?family=Karla|Raleway");

/* Whole document: */

body {
  margin-top: 100px !important;
}

.navbar {
  min-height: 100px !important;
}


.navbar {
    background-color: #fcfcfc33;
    box-shadow: 0 0 50px rgba(252, 252, 252, 0.76);
    background-image: linear-gradient(to bottom, #437A91, #437A91, #437A91, #437A91, #437A91, #437A91, #437A91, #437A91, #437A91, #437A91ed, #437A91ba) !important;  
}

head {
   font-weight: bold !important;
} 

h1{
   font-size: 36px !important;
} 
h2, 
h3,
h4{
  text-transform: capitalize !important;
}

.home-section {
    padding: 0px 0 0px 0;
  }

/*----NAV BAR -----*/

.nav-link:hover {
  color: #FEAC90 !important;
}

.navbar-nav {
  text-transform: lowercase !important;
  font-size: 20px !important;
}

.navbar-brand {
  font-size: 30px !important;
}

/*----BUTTON COLOR -----*/

.btn {
  background-color: #437A91;
  color: #fff !important;
  
}

.btn:hover {
  color: #FEAC90 !important;
  background-color: #3e5e6d;
}

/* buttons */

.btn-toolbar {
  justify-content: center !important;
}

/* cards */
.article-style {
  font-family: "Karla" !important;
}

/* Make mobile navbar skinnier */

  @media screen and (max-width: 768px) {
    body {
      margin-top: 100px !important;
    }
     .navbar {
      min-height: 100px !important;
    }
  }
  
/*make drop down menu more opaque on mobile */

@media (max-width: 991.98px) { 
  .navbar-collapse {
    background-color: #f7f7f7d9 !important;
  }
  .navbar-brand {
  font-size: 10px !important;
}
}

/* Evenly spaces bio text on mobile */

  @media screen and (max-width: 768px) {
      #about .col-12.col-lg-8 {
      padding-left: 15px !important;
    }
  }



