/* Whole document: */

body {
  margin-top: 100px !important;
}
.navbar {
  min-height: 100px !important;
}

#navbar-main.navbar-light.fixed-top {
    box-shadow: none;
    background-image: linear-gradient(to bottom, #fcfcfc33 50%, rgba(252,252,252,0)) !important;  
}


